.device-view-margin {margin-top: 10px; margin-bottom: 10px;}
.device-view-word {color: blue; font-size: 15px; font-weight: bold;}
.device-view-word-title {font-size: 20px; font-weight: bold;}
.round {border-radius: 50%; padding: 5px;}
.round-primary {border-radius: 50%; padding: 5px; color: white; background-color: blue;}
.mat-word-break-all {word-break: break-all;}
